// Default variables
html {
	--base-font-size: 20px;
}

// Light default theme
body {
 	--bg-color: #dddddd;
 	--bg-content-color: rgb(243, 243, 243);
 	--bg-code: #fffbf3;
 	--body-color: #444;
 	--title-color: rgb(92, 71, 62);
 	--link-color: #80681a;
 	--border-color:  rgba(0,0,0,.1);;
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 80px;
	--radius: 5px;
	--bg-noise-img: url("../images/noisy-texture-100x100-2.png");
}

// Make  things smaller for mobile
@media screen and (max-width: 650px) {
	html {
		--base-font-size: 17px;
	}
	body {
		--space: 1.5rem;
		--header-height: 60px;
	}
}


// Override variables for Dark theme
body[data-theme="dark"] {
 	--bg-color: #201f1e;
 	--bg-content-color: #272726;
 	--bg-code: rgba(0,0,0,.3);
 	--border-color:  rgba(255,255,255,.1);;
 	--body-color: #c9c4c4;
 	--title-color: rgb(184, 184, 184);
 	--link-color: #ce9976;
}